<ion-grid class="w-100">
  <ion-row *ngIf="!!score && (score.nbGoodAnswer+score.nbBadAnswer) > 0">
    <ion-col class="text-center column-score w-100">
      {{score.percentGoodAnswer}}% of good answers
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!!score && score.strike > 0">
    <ion-col class="text-center column-score w-100">
      Strike of {{score.strike}}
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!!score && score.strike > 0">
    <ion-col size="3" class="column">
    </ion-col>
    <ion-col size="6" class="text-center column">
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5%; margin-bottom: 5%;">
    <ion-col size="12" class="column-speed-versus">
      <ion-row class="align-items-center" style="color: black;">
        {{description}}
      </ion-row>
    </ion-col>
  </ion-row>
  
  <ion-row class="mt-2 w-100" style="width: 100% !important;">
    <ion-col class="text-center column-btn w-50" (click)="answer(0)" style="width: 50% !important;">
      <button mat-raised-button [ngClass]="{'good-answer-bg': rightAnswer === 0, 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 0}" class="left name light-gray-button w-100">{{abilities[0]?.name || 'Error'}}</button>
    </ion-col>
    <ion-col class="text-center column-btn w-50" (click)="answer(1)" style="width: 50% !important;">
      <button mat-raised-button [ngClass]="{'good-answer-bg': rightAnswer === 1, 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 1}" class="name light-gray-button w-100">{{abilities[1].name || 'Error'}}</button>
    </ion-col>
  </ion-row>
  <ion-row class="mt-2 w-100">
    <ion-col class="text-center column-btn w-50" (click)="answer(2)" style="width: 50% !important;" >
      <button mat-raised-button [ngClass]="{'good-answer-bg': rightAnswer === 2, 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 2}" class="left name light-gray-button w-100">{{abilities[2].name || 'Error'}}</button>
    </ion-col>
    <ion-col class="text-center column-btn w-50" (click)="answer(3)" style="width: 50% !important;">
      <button mat-raised-button [ngClass]="{'good-answer-bg': rightAnswer === 3, 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 3}" class="name light-gray-button w-100">{{abilities[3].name || 'Error'}}</button>
    </ion-col>
  </ion-row>

  <ion-row class="mt-4 w-100" *ngIf="isAnswered">
    <ion-col size="12" class="ion-text-end next-button col-12" style="padding: 0; padding-top: 5%;">
      <button  mat-stroked-button  class="button-next light-gray-button col-4" (click)="reinitQuiz()"style="margin:0;">Next</button>
    </ion-col>
  </ion-row>
</ion-grid>