<ion-grid class="w-100">
  <ion-row *ngIf="!!score && (score.nbGoodAnswer+score.nbBadAnswer) > 0">
    <ion-col size="6" class="text-center column-score">
      {{score.percentGoodAnswer}}% of good answers
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!!score && score.strike > 0">
    <ion-col size="6" class="text-center column-score">
      Strike of {{score.strike}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="column-speed-versus">
      <ion-row class="align-items-center">
        <img [src]="src">
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="column">
      <p class="text-center w-100" *ngIf="isAnswered">Def : {{def}}</p>
      <p class="text-center w-100" *ngIf="isAnswered">SpeDef :{{speDef}}</p>
    </ion-col>
  </ion-row>
  
  <ion-row class="mt-2 w-100">
    <ion-col size="4" class="text-center column-btn" (click)="answer('def')">
      <ion-button [ngClass]="{'good-answer-bg': rightAnswer === 'def', 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 'def'}" class="left name light-gray-button w-100">Def</ion-button>
    </ion-col>
    <ion-col size="4" class="text-center column-btn" (click)="answer('same')">
      <ion-button [ngClass]="{'good-answer-bg': rightAnswer === 'same', 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 'same'}" class="name light-gray-button w-100">=</ion-button>
    </ion-col>
    <ion-col size="4" class="text-center column-btn" (click)="answer('speDef')">
      <ion-button [ngClass]="{'good-answer-bg': rightAnswer === 'speDef', 'bad-answer-bg': hasRightAnswer === false && rightAnswer !== 'speDef'}" class="name light-gray-button w-100">SpeDef</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="mt-4" *ngIf="isAnswered">
    <ion-col size="12" class="ion-text-end next-button col-12" style="padding: 0;">
      <ion-button class="name light-gray-button col-4" (click)="reinitQuiz()"style="margin:0; margin-bottom: 4%;">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>