<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">
      <mat-card class="score_card ml-2 mr-2" *ngIf="is2PokeLoaded && !!score?.bestStrike">  
        <mat-card-content>
          <div class="score_content">
            <p>Best strike: {{score?.bestStrike}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="calc_quiz_card ml-2 mr-2">   
        
        <mat-card-header>
          <mat-card-title class="text-center"> What damage does this attack do ?</mat-card-title>
          <mat-card-subtitle class="text-center">(max Att/SpA, max Hp/Def/SpD)</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="is2PokeLoaded">
          <comp-calc-quiz
            [leftSide]="pokeLeft"
            [rightSide]="pokeRight"
            (resetRequested)="resetRequested()"
          ></comp-calc-quiz>
        </mat-card-content>

        <mat-card-content *ngIf="!is2PokeLoaded" class="loading-content">
          <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
        </mat-card-content>
      </mat-card>
    </div>
  </ion-content>
</div>

<button mat-raised-button class="button-back" (click)="backToMenu()">
  Menu
</button>