<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">
      <mat-card class="training_menu_card mr-2 ml-2">      
        <mat-card-content class="w-100">
          <ion-grid class="w-100">
            <ion-row class="w-100" style="margin-top:1%;">
              <ion-col class="training-menu-column">
                <button  mat-fab extended  (click)="goToSpeedVersus()" class="w-100 custom-button">
                  <div class="button-content">
                    <span class="material-symbols-outlined icon">
                      speed
                    </span>
                    <ion-label>Speed VS ({{getScore().speedVS || 0}}%)</ion-label>
                  </div>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" style="margin-top:1%;">
              <ion-col class="training-menu-column">
                <button  mat-fab extended  (click)="goToSpeedQuiz()" class="w-100 custom-button">
                  <div class="button-content">
                    <span class="material-symbols-outlined icon">
                      quiz
                    </span>
                    <ion-label>Speed quiz ({{getScore().speedQuiz || 0}}%)</ion-label>
                  </div>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" style="margin-top:1%;">
              <ion-col class="training-menu-column">
                <button  mat-fab extended  (click)="goToDefOrSpedDef()" class="w-100 custom-button">
                  <div class="button-content">
                    <span class="material-symbols-outlined icon">
                      shield_question
                    </span>
                    <ion-label>Def or Spe Def ({{getScore().defOrDefSpe || 0}}%)</ion-label>
                  </div>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" style="margin-top:1%;">
              <ion-col class="training-menu-column">
                <button mat-fab extended  (click)="goToCalcQuiz()" class="w-100 custom-button">
                  <div class="button-content">
                    <span class="material-symbols-outlined icon">
                      swords
                    </span>
                    <ion-label>Calc quiz ({{getScore().calcQuiz || 0}}%)</ion-label>
                  </div>
                </button>
              </ion-col>
            </ion-row>
            <ion-row class="w-100" style="margin-top:1%;">
              <ion-col class="training-menu-column">
                <button mat-fab extended (click)="goToAbilitiesQuiz()" class="w-100 custom-button">
                  <div class="button-content">
                    <span class="material-symbols-outlined icon">
                      school
                    </span>
                    <ion-label>Abilities ({{getScore().abilitiesQuiz || 0}}%)</ion-label>
                  </div>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-card-content>
      </mat-card>
    </div>
  </ion-content>
</div>
<span class="material-symbols-outlined settings-button" (click)="goToSettings()">
  settings
</span>
<button mat-raised-button class="button-back" (click)="resetStats()">
  Reset stats
</button>
<button mat-raised-button class="button-reset-data" (click)="resetData()">
  Reset data
</button>
