<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">
      <ion-card class="speed_quiz_card">      
        <ion-card-content>
          <ion-grid>
            <ion-card-header>
              <ion-card-title>What is this Pokémon's max speed?</ion-card-title>
            </ion-card-header>

            <ion-card-content *ngIf="isPokeLoaded">
              <comp-speed-quiz
                [poke]="poke"
                (resetRequested)="resetRequested()"
              ></comp-speed-quiz>
            </ion-card-content>

            <ion-card-content *ngIf="!isPokeLoaded" class="loading-content">
              <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
            </ion-card-content>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>