<ion-grid>
  <ion-row *ngIf="!!score && (score.nbGoodAnswer+score.nbBadAnswer) > 0">
    <ion-col class="text-center column-score w-100">
      {{score.percentGoodAnswer}}% of good answers
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!!score && score.strike > 0">
    <ion-col class="text-center column-score w-100">
      Strike of {{score.strike}}
    </ion-col>
  </ion-row>
  <div>
    <ion-col size="12" class="column-speed-versus">
      <ion-row class="align-items-center" style="margin-left: 33%;">
        <img [src]="src">
      </ion-row>
    </ion-col>
  </div>

  <ion-row>
    <ion-col size="12" class="column-speed-versus">
      <p class="mt-3 speed text-center" *ngIf="isAnswered"[ngClass]="{'good-answer-bg': hasRightAnswer, 'bad-answer-bg': !hasRightAnswer }">{{speed}}</p>
    </ion-col>
  </ion-row>

  <div class="guess-row">
    <ion-col size="8" class="input-col">
      <input class="input-guess" type="number" placeholder="Enter speed" [(ngModel)]="userGuess" (keyup.enter)="validateGuess()">
    </ion-col>
    <ion-col size="4" class="button-col">
      <button mat-fab extended (click)="validateGuess()" style="height: 40px;">Submit</button>
    </ion-col>
  </div>

  <ion-row class="mt-2" *ngIf="isAnswered">
    <ion-col size="12" class="ion-text-end next-button col-12" style="padding: 0; padding-top: 5%;">
      <button  mat-stroked-button  class="button-next light-gray-button col-4" (click)="reinitQuiz()"style="margin:0;">Next</button>
    </ion-col>
  </ion-row>
</ion-grid>