<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">

      <mat-card class="score_card ml-2 mr-2" *ngIf="isPokeLoaded && !!score?.bestStrike">  
        <mat-card-content>
          <div class="score_content">
            <p>Best strike: {{score?.bestStrike}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="speed_quiz_card  ml-2 mr-2">      
        <mat-card-content>
          <ion-grid>
            <mat-card-header>
              <mat-card-title class="text-center">Is this base stats Pokemon more Def or more SpD ?</mat-card-title>
            </mat-card-header>

            <mat-card-content *ngIf="isPokeLoaded">
              <comp-def-or-spe-def
                [poke]="poke"
                (resetRequested)="resetRequested()"
              ></comp-def-or-spe-def>
            </mat-card-content>

            <mat-card-content *ngIf="!isPokeLoaded" class="loading-content">
              <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
            </mat-card-content>
          </ion-grid>
        </mat-card-content>
      </mat-card>
    </div>
  </ion-content>
</div>
<button mat-raised-button class="button-back" (click)="backToMenu()">
  Menu
</button>