<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">
      <ion-card class="speed_quiz_card">      
        <ion-card-content>
          <ion-grid>
            <ion-card-header>
              <ion-card-title>Is this base stats Pokemon more Def or more SpeDef ?</ion-card-title>
            </ion-card-header>

            <ion-card-content *ngIf="isQuestionCreated">
              <comp-abilities-quiz></comp-abilities-quiz>
            </ion-card-content>

            <ion-card-content *ngIf="!isQuestionCreated" class="loading-content">
              <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
            </ion-card-content>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>
<ion-button class="button-back" (click)="backToMenu()">
  Back to menu
</ion-button>
