<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">
      <ion-card class="score_card" *ngIf="is2PokeLoaded && !!score?.bestStrike">  
        <ion-card-content>
          <div class="score_content">
            <p>Best strike: {{score?.bestStrike}}</p>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card class="speed_versus_card">   
        
        <ion-card-header>
          <ion-card-title>Who's faster at max speed ?</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="is2PokeLoaded">
          <comp-speed-versus
            [leftSide]="pokeLeft"
            [rightSide]="pokeRight"
            (resetRequested)="resetRequested()"
          ></comp-speed-versus>
        </ion-card-content>

        <ion-card-content *ngIf="!is2PokeLoaded" class="loading-content">
          <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>

<ion-button class="button-back" (click)="backToMenu()">
  Back to menu
</ion-button>

