<div class="container">  
  <ion-content [fullscreen]="true">  
    <div id="container">

      <mat-card class="score_card  ml-2 mr-2" *ngIf="isSettingsOpen">  
        <mat-card-content>
          <div class="score_content">
            <form [formGroup]="form">
              <mat-button-toggle-group formControlName="whichSpread">
                <mat-button-toggle value="mostCommon">Common spread</mat-button-toggle>
                <mat-button-toggle value="max">Max speed</mat-button-toggle>
              </mat-button-toggle-group>
            </form>
            <div class="row">
              <button mat-raised-button class="mt-2 float-right"(click)="isSettingsOpen = !isSettingsOpen">
                Back
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="score_card  ml-2 mr-2" *ngIf="is2PokeLoaded && !!score?.bestStrike && !isSettingsOpen">  
        <mat-card-content>
          <div class="score_content">
            <p>Best strike: {{score?.bestStrike}}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="speed_versus_card  ml-2 mr-2" *ngIf="!isSettingsOpen">   
        
        <mat-card-header>
          <mat-card-title class="text-center">
            Who's faster ? 
            <p class="d-inline-block ml-2" style="font-size: 12px;" *ngIf="form.value.whichSpread === 'mostCommon'">Most common spread</p>
            <p class="d-inline-block ml-2" style="font-size: 12px;" *ngIf="form.value.whichSpread === 'max'">Max speed</p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="is2PokeLoaded">
          <comp-speed-versus
            [leftSide]="pokeLeft"
            [rightSide]="pokeRight"
            (resetRequested)="resetRequested()"
            [whichSpread]="form.value.whichSpread"
          ></comp-speed-versus>
        </mat-card-content>

        <mat-card-content *ngIf="!is2PokeLoaded" class="loading-content">
          <img src="/assets/pokeball-loading.png" class="loading-image" alt="Loading...">
        </mat-card-content>
      </mat-card>
    </div>
  </ion-content>
</div>
<span class="material-symbols-outlined settings-button" (click)="isSettingsOpen = !isSettingsOpen">
  settings
</span>
<button mat-raised-button class="button-back" (click)="backToMenu()">
  Menu
</button>