<div class="container">  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">VGC Training</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <ion-card class="welcome_card">
        <ion-card-header>
          <ion-card-title>Welcome to VGC Training !</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button (click)="discoverPrograms()">
            See programs
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>
